<div class="container">
    <div class="row" *ngFor="let a of danhsach">
        <div class="col-6 danhmuc">
            <div class="card" style="width: 18rem;">
                <img src="{{a.Logo}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{a.Id}}</p>
                    <p class="card-text">{{a.Name}}</p>
                </div>
            </div>
        </div>
        <div class="col-6 danhmuc">
            <div class="card" style="width: 18rem;">
                <img src="{{a.Logo}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{a.Id}}</p>
                    <p class="card-text">{{a.Name}}</p>
                </div>
            </div>
        </div>
        <div class="col-6 danhmuc">
            <div class="card" style="width: 18rem;">
                <img src="{{a.Logo}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{a.Id}}</p>
                    <p class="card-text">{{a.Name}}</p>
                </div>
            </div>
        </div>
        <div class="col-6 danhmuc">
            <div class="card" style="width: 18rem;">
                <img src="{{a.Logo}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{a.Id}}</p>
                    <p class="card-text">{{a.Name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>