<div class="jumbotron gioithieu">
    <h1 class="display-4">Hello, guy!</h1>
    <p class="lead" style="font-size: 14px; font-family:Georgia, 'Times New Roman', Times, serif">
        Đây là trang wed được làm ra với mục đích giúp cho việc thi cử trở nên dễ dàng hơn. Bạn sẽ tiết kiệm được kha
        khá khoảng thời gian thay vì thực hành trên giấy. Ngoài ra trang wed này còn có điểm lợi cho việc chấm điểm của
        thầy cô giáo sẽ đỡ vất vả hơn, và còn có tính chất ổn định hơn về kết quả cho những bên làm việc.
    </p>
    <hr class="my-4 duongke">
    <p>Với trang wed sẽ dễ dàng hơn trong việc kiểm tra, rèn luyện và thi cử</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<button btn btn-info (click)="goBack()">Back</button>