<div class="container tracnghiem" *ngFor="let a of baithi">
    <p *ngFor="let b of hocsinh" style="font-size: 14px; font-weight:bold; padding-bottom:15px;">{{b.fullname}}</p>
    <h3 style="text-align: justify; font-weight:bold; color: black">Bắt đầu phần thi</h3>
    <hr style="height: 0.5px; background:rgb(126, 118, 118)">
    <h5>Số đề: {{a.ID}}</h5>
    <hr style="height: 0.5px; background:rgb(126, 118, 118)">
    <p>MSCH: {{a.AnswerId}}</p><br>
    <h5><u style="font-weight: bold">Câu hỏi:</u> {{a.Text}}</h5>
    <p>Marks: {{a.Marks}}</p><br>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
        <label class="form-check-label" for="inlineRadio4">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>


    <hr>

    <h5>Số đề: {{a.ID}}</h5>
    <hr style="height: 0.5px; background:rgb(126, 118, 118)">
    <p>MSCH: {{a.AnswerId}}</p><br>
    <h5><u style="font-weight: bold">Câu hỏi:</u> {{a.Text}}</h5>
    <p>Marks: {{a.Marks}}</p><br>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
        <label class="form-check-label" for="inlineRadio4">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>

    <hr>
    <h5>Số đề: {{a.ID}}</h5>
    <hr style="height: 0.5px; background:rgb(126, 118, 118)">
    <p>MSCH: {{a.AnswerId}}</p><br>
    <h5><u style="font-weight: bold">Câu hỏi:</u> {{a.Text}}</h5>
    <p>Marks: {{a.Marks}}</p><br>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
        <label class="form-check-label" for="inlineRadio4">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>

    <hr>
    <h5>Số đề: {{a.ID}}</h5>
    <hr style="height: 0.5px; background:rgb(126, 118, 118)">
    <p>MSCH: {{a.AnswerId}}</p><br>
    <h5><u style="font-weight: bold">Câu hỏi:</u> {{a.Text}}</h5>
    <p>Marks: {{a.Marks}}</p><br>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
        <label class="form-check-label" for="inlineRadio4">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>


    <hr><h5>Số đề: {{a.ID}}</h5>
    <hr style="height: 0.5px; background:rgb(126, 118, 118)">
    <p>MSCH: {{a.AnswerId}}</p><br>
    <h5><u style="font-weight: bold">Câu hỏi:</u> {{a.Text}}</h5>
    <p>Marks: {{a.Marks}}</p><br>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
        <label class="form-check-label" for="inlineRadio4">{{a.Answers.Id}}: {{a.Answers.Text}}</label>
    </div>

</div>