<img src="../assets/banner.png" alt="" class="hinhtieude">


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 5px">
  <a class="navbar-brand" href="#"><i class='fas fa-book' style='font-size:24px'></i> Bài tập ASS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Giới thiệu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Liên hệ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Góp ý</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hỏi đáp</a>
      </li>
    </ul>
    <span class="navbar-text">
      <ul class="nav-item dropdown">
        <a class="nav-link dropdown-toggle taikhoan" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tài khoản
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Đăng ký</a>
          <a class="dropdown-item" href="#">Đăng nhập</a>
          <a class="dropdown-item" href="#">Quên mật khẩu</a>
          <hr>
          <a class="dropdown-item" href="#">Đăng xuất</a>
          <a class="dropdown-item" href="#">Đổi mật khẩu</a>
          <a class="dropdown-item" href="#">Đăng ký tài khoản</a>
        </div>
      </ul>
    </span>
  </div>
</nav>
<div class="row noidung">

  <div class="col-8">

    <app-trangchu></app-trangchu>

  </div>


  <div class="col-4">

    <div class="accordion" id="accordionExample" style="border-radius:5px; border:grey">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne" style="font-weight: bolder; color: black">
              <h5 style="text-decoration: none">DANH MỤC MÔN HỌC</h5>
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample"
          style="background:grey">
          <div class="card-body" style="background: white">

            <div class="list-group">

              <button type="button" class="list-group-item list-group-item-action">Lập trình Android nâng cao</button>
              <button type="button" class="list-group-item list-group-item-action">Xây dựng trang wed</button>
              <button type="button" class="list-group-item list-group-item-action">Cơ sở dữ liệu</button>
              <button type="button" class="list-group-item list-group-item-action">SQL Server</button>
              <button type="button" class="list-group-item list-group-item-action">Interner marketing</button>
              <button type="button" class="list-group-item list-group-item-action">Lập trình hướng đối tượng với
                java</button>
              <button type="button" class="list-group-item list-group-item-action">Lập trình PHP</button>
              <button type="button" class="list-group-item list-group-item-action">Điện toán đám mây</button>
              <button type="button" class="list-group-item list-group-item-action">Lập trình Android cơ bản</button>
              <button type="button" class="list-group-item list-group-item-action">Lập trình game 2D</button>
              <button type="button" class="list-group-item list-group-item-action">Lập trình giao diện trên
                Android</button>
              <button type="button" class="list-group-item list-group-item-action">Thiết kế wed cho điện thoại di
                động</button>
              <button type="button" class="list-group-item list-group-item-action">Lập trình ASP.NET</button>

            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

</div>